<link rel="stylesheet" type="text/css" href="~/Styles/Main.css" />
<ul class="nav">
    <li>
        <a href="~/MegaEscritorio.cshtml">Home</a>
    </li>
    <li>
        <a href="~/AddOrder.cshtml">Add</a>
    </li>
    <li>
        <a href="~/EditOrder.cshtml">Edit</a>
    </li>
    <li>
        <a href="~/DeleteOrder.cshtml">Delete</a>
    </li>
</ul>